body {
    font-family: 'Open Sans', sans-serif;
}

.NavbarBack {
    background-color: #000324 !important;
}

.nav-link {
    padding-top: 0;
    padding-bottom: 0;
    font: normal normal normal 20px/26px Dosis;
}

/* navReserve seems to not be working */
.navReserve {
    border-style:solid !important;
    padding-left: 15px;
    padding-right: 15px;
    color:#ffffff;
}
.navReserve:hover {
    border-style:solid;
}
.navReserve:active {
    border-style:solid;
    color:#ffffff;

}

.textColorWhite {
    color: #FFFFFF;
}

.bodyBg {
    background-color: #ffffff;
}

.flexItGoodNCenter {
    display: flex;
    justify-content: center;
    
}

.flexItEnd {
    display: flex;
    align-items: flex-end;
}

.heroImage {
    background-image: url("../images/header.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    padding: 20%; 

}

.flexPurpleBox {
    background-color: #000324;
    opacity: 0.8;
    width: 85%;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 10%;
    padding-bottom: 10%;
    /* margin: auto; */
}

.welcomeBox {
    /* margin: auto; */
    padding: 10%;
}

/* Styles tailored for Our Rooms Section */
.itemRadiusNone {
    border-radius: 0%;
}

.ourRoomImage {
    background-image: url("../images/bg2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.ourRoomsText {
    display:flex;
    justify-content: center;
    padding-top: 2%;
    text-align: center;
    font: normal normal normal 35px/44px Dosis;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
}

.cardGroupStyled {
    padding-top: 1.5%;
    padding-bottom: 6%;
    padding-left: 15%;
    padding-right: 15%;
}

.cardSpace {
    margin: 1%;
}


/* !!! Packages Section !!!*/

.packageFont {
    font-size: 35;
}

/* .packagePlacing {
    padding-left: 11%;
    padding-right: 11%;

} */

/* .leftImg {
    padding-right: 5%;
} */

.headMargin {
    margin-top: 6%;
}

.packageCardWidth {
    max-width: 95%;
}

.cardTitleMarginBottom {
    margin-bottom: 4%;

}

.packageTopMargin {
    margin-top: 4%;
}

.packageBottomMargin {
    margin-bottom: 4%;
}
.cardMarginBottomZeroed {
    margin-bottom: 0 !important;
}

.borderStyleNone {
    border-style: none !important;
    border-radius: 0% !important;
}


/* START of Amenities */
.amenitiesBg {
    background-image: url("/images/bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.amenitiesPaddingTB {
    padding-top: 4%;
    padding-bottom: 1%;
}

.amenitiesPaddingBottom {
    padding-bottom: 4%;
}

.amenitiesHeader {
    margin-top: 3% !important;
    margin-bottom: 2% !important;

}

.amenitiesIcons {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-end;
    padding-left: 9%;
    padding-right: 9%;
}

.amenitiesIconsPad {
    padding-bottom: 2%;
}

.valetScale {
    scale: 60%;
}


/* Reserve a room section */
.resRoomMarPad {
    margin: 6%;
    padding-left: 6%;
    padding-right: 6%;
    
}

.resRoomBoxMarPad {
    margin: 2%;
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 1%;
}

.resRoomBg {
    background-color: #000324;
}

.resRoomImg {
    background-image: url("/images/hamsterreserve.jpg");
    background-repeat: no-repeat;
    background-size:cover;
    background-position: 10%;
    background-clip: 10%;
}

.resImgInvis {
    opacity: 0;
}

.resBtn {
    border-style: none !important;
    border-radius: 0% !important;
    padding: 3px 50px;
    height: 30px;
}
/* Reserve a room section */

/* Start of Footer */
.footieStyle {
    padding-top: 1%;
    padding-left: 4%; 
    padding-right: 4%;
    padding-bottom: 3%;
    background-color: #000324;
}

.footieText {
    flex-direction: column;
}
/* End of Footer */