.NavbarBg {
    background-color: #000324;
}

.bodyBg {
    background-color: #ffffff;
}

.flexItGoodNCenter {
    display: flex;
    justify-content: center;
    
}

.flexItEnd {
    display: flex;
    align-items: flex-end;
}

.heroImage {
    background-image: url("../images/header.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    padding: 20%; 
}

.flexPurpleBox {
    background-color: #000324;
    opacity: 0.8;
    width: 85%;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 10%;
    padding-bottom: 10%;
    /* margin: auto; */
}

.welcomeBox {
    /* margin: auto; */
    padding: 10%;
}