.NavbarBack {
    background-color: #000324 !important;
}

.nav-link {
    padding-top: 0;
    padding-bottom: 0;
    font: normal normal normal 20px/26px Dosis;
}

/* navReserve seems to not be working */
.navReserve {
    border-style:solid !important;
    padding-left: 15px;
    padding-right: 15px;
    color:#ffffff;
}
.navReserve:hover {
    border-style:solid;
}
.navReserve:active {
    border-style:solid;
    color:#ffffff;

}
.bodyBg {
    background-color: #ffffff;
}

.flexItGoodNCenter {
    display: flex;
    justify-content: center;
    
}

.flexItEnd {
    display: flex;
    align-items: flex-end;
}

.heroImage {
    background-image: url("../images/header.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    padding: 20%; 

}

.flexPurpleBox {
    background-color: #000324;
    opacity: 0.8;
    width: 85%;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 10%;
    padding-bottom: 10%;
    /* margin: auto; */
}

.welcomeBox {
    /* margin: auto; */
    padding: 10%;
}

